DATABASE_URL="postgresql://postgres:mysecretpassword@127.0.0.1:5432/ed_nest?schema=public"

# Backend port - use frontend PORT if configured for pattern BFF
BACKEND_PORT=3000

# Backend URL - use frontend URL if configured for pattern BFF
BACKEND_URL=http://127.0.0.1

RT_SECRET=RT_SECRET
AT_SECRET=AT_SECRET