BACKEND_HOST=127.0.0.1
BACKEND_PORT=8002

GENERATIVE_API_HOST=127.0.0.1
GENERATIVE_API_PORT=7860

NEXT_PUBLIC_BACKEND_API=http://$BACKEND_HOST:$BACKEND_PORT/api
NEXT_PUBLIC_BACKEND_MEDIA=http://$BACKEND_HOST:$BACKEND_PORT

NEXT_PUBLIC_GEN_API=http://$GENERATIVE_API_HOST:$GENERATIVE_API_PORT

SESSION_SECRET=openssl rand -base64 32

NEXT_PUBLIC_PROMPT=change if you want to use private prompt in placeholder /generate