[Unit]
Description=starting octo frontend service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=!username!
WorkingDirectory=/path/to/effective-doodle/frontocto
ExecStart=/usr/bin/npm run start

[Install]
WantedBy=multi-user.target
